
#top,
#bottom {
    position: fixed;
    left: 0;
    right: 0;
    height: 80%;
}

#top {
    top: 0;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    padding-top: 30px;
    /*background-color: orange;*/
}

#caption {
    padding-left: 60%;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

#bottom {
    bottom: 0;
    padding-top: 5%;
    padding-left: 30%;
    height: 80%;
    /*background-color: green;*/
}

input[type="text"],
textarea,
textarea.form-design {
    height: 100px;
    width: 280px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea,
textarea.form-design {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}


input[type="text"]:focus,
textarea:focus,
textarea.form-design:focus {
    outline: 0;
    background: #fff;
    border: 3px solid #fff;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}


input[type="text"],
textarea {
    width:280px;
    padding: 3px;
    border: none;
}

#description-btn {
    padding-left: 20px;
}

#textareabottom {
    bottom: 0;
    padding-top: 5%;
    /*padding-left: 30%;*/
}

#author {
    top: 0;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding-left:13%;
    color: #ffffff;
}