<!DOCTYPE html>
<html lang="en"  data-ng-app="MyModule">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->

</head>
<body style="background: url(https://preview.ibb.co/bv7p5m/plaza_slider1.jpg) no-repeat center center fixed; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; background-size:cover;">
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <center><h1 style="color: snow"> Welcome to Kansas, the City of Fountains </h1></center>
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container" ng-controller="MyController">
    <div class="row">

        <div class="col-md-3">
            <br><br><br>
            <h4 style="font-size:x-large; font-weight:bold; color: #c7254e">Search Your Interests</h4>
            <input id="query" type="search" style="font-size: large; width: auto" placeholder="Enter Your Interests Here" ng-model="query"> <br><br>
            <center><input type="button" style="font-weight: bold; font-size: large" value="Search" ng-click="retrieveData();calcWeather()"></center><br><br><br>
            <table id="weather-canvas" border="1" style="background: #ffffff; padding: 15px; visibility: hidden; color: #c7254e;">
                <tr>
                    <h4 id="weatherheader" style="font-size:large; font-weight:bold; visibility: hidden; color: #c7254e">Kansas City Weather Report</h4>
                </tr>
                <tr>
                    <td width="100" height="30" align="center"><strong>Temperature</strong></td>
                    <td width="150" height="30" align="center">{{sourcetemp}}</td>
                </tr>
                <tr>
                    <td width="100" height="30" align="center"><strong>Pressure</strong></td>
                    <td width="150" height="30" align="center">{{sourcepre}}</td>
                </tr>
                <tr>
                    <td width="100" height="30" align="center"><strong>Humidity </strong></td>
                    <td width="150" height="30" align="center">{{sourcehum}}</td>
                </tr>
                <tr>
                    <td width="100" height="30" align="center"><strong>Wind</strong></td>
                    <td width="150" height="30" align="center">{{sourcewind}}</td>
                </tr>
                <tr>
                    <td width="100" height="30" align="center"><strong>Description</strong></td>
                    <td width="150" height="30" align="center">{{sourcedes}}</td>
                </tr>
            </table>
        </div>

        <div class="col-md-9">
            <br><br><br>
            <div id="results" class="row" style="visibility: hidden">

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h5 align="wrap" style="color: #c7254e"><strong>{{name0}}</strong></h5>
                            <p><b>Address: </b>{{address0}}</p>
                        </div>
                        <div class="ratings">
                            <p style="font-size: medium; color:#ffff00" class="pull-right"><b>Contact: </b>{{contact0}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h5 align="wrap" style="color: #c7254e"><strong>{{name1}}</strong></h5>
                            <p><b>Address: </b>{{address1}}</p> </div>
                        <div class="ratings">
                            <p  style="font-size: medium; color:#ffff00" class="pull-right"><b>Contact: </b>{{contact1}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h5 align="wrap"style="color: #c7254e"><strong>{{name2}}</strong></h5>
                            <p><b>Address: </b>{{address2}}</p></div>
                        <div class="ratings">
                            <p style="font-size: medium; color:#ffff00"  class="pull-right"><b>Contact: </b>{{contact2}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">

                        <div class="caption">
                            <h5 align="wrap" style="color: #c7254e"><strong>{{name3}}</strong></h5>
                            <p><b>Address: </b>{{address3}}</p>
                        </div>
                        <div class="ratings">
                            <p  style="font-size: medium; color:#ffff00" class="pull-right"><b>Contact: </b>{{contact3}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h5 align="wrap" style="color: #c7254e"><strong>{{name4}}</strong></h5>
                            <p><b>Address: </b>{{address4}}</p>
                        </div>
                        <div class="ratings">
                            <p style="font-size: medium; color:#ffff00" class="pull-right"><b>Contact: </b>{{contact4}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h5 align="wrap" style="color: #c7254e"><strong>{{name5}}</strong></h5>
                            <p><b>Address: </b>{{address5}}</p>
                        </div>
                        <div class="ratings">
                            <p style="font-size: medium; color:#ffff00" class="pull-right" ><b>Contact: </b>{{contact5}}</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- /.container -->
    <!-- jQuery -->
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
<script src="js/HomePage.js" type="application/javascript"></script>
<script src="js/jquery.js" type="application/javascript"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>


</body>

</html>
