.angular-google-map-container {
    height: 500px;
    width : 1360px;
    margin-bottom: 15px;
}

.panel-primary {
    padding: 15px;
}

.control-label{
    text-align: left !important;
}
#leftDiv{
    padding-right: 5px;
    display:table-cell;
    text-align:right;
}

#rightDiv{
    padding-left: 0px;
    text-align:left;
    display:table-cell;
}
.btn-success
{
    background-color: #1BBC9B;
}